# OASIS INFOBYTE INTERNSHIP
## DATA SCIENCE 
## TASK 1 - IRIS FLOWER CLASSIFICATION
### -BY RAFE ANWAR PANJRI

In [16]:
#libraris required for task

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression

In [17]:
df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [20]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## Separating Features and Target Variable

In [22]:
data1 = df.drop(['Id','Species'], axis=1) #Getting colums except Id and species
data2 = df['Species']  #getting categorial variable for encoding

In [11]:
data1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [23]:
data2

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

## Encoding Target Variable

In [24]:
#assigining unique integer to each category encoded data

label_encoder = LabelEncoder()
data2 = label_encoder.fit_transform(data2)

In [14]:
data2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Splitting Training and Testing Data

In [25]:
#80% training data and 20% testing data

Features_train, Features_test, Target_train, Target_test = train_test_split(data1, data2, test_size=0.2, random_state=42)

## Standardize Feature Data

In [26]:
#standardizing Feature Data to have zero mean and unit variance

scaler = StandardScaler()
Features_train = scaler.fit_transform(Features_train)
Features_test = scaler.transform(Features_test)

## Training Model

## SVM Model

In [ ]:
#unsupervised machine learning alogorithm

In [27]:
#Initializing SVM classifier
svm_model = SVC(kernel='rbf', C=1.0, random_state=42)

#training model on the training data
svm_model.fit(Features_train, Target_train)

SVC(random_state=42)

## Making Predictions

In [28]:
#prediction on the testing Features data
Target_pred = svm_model.predict(Features_test)

## Evaluation

In [29]:
accuracy = accuracy_score(Target_test, Target_pred)
print("Accuracy:", accuracy)
print(classification_report(Target_test, Target_pred))

Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

## Logistic Regression

In [12]:
clf = LogisticRegression()

## Training model

In [30]:

logistic_regression_model = LogisticRegression(multi_class='ovr', random_state=42)

logistic_regression_model.fit(Features_train, Target_train)

LogisticRegression(multi_class='ovr', random_state=42)

## Making Predictions

In [31]:
Target_pred = logistic_regression_model.predict(Features_test)

## Evaluation

In [32]:
accuracy = accuracy_score(Target_test, Target_pred)
print("accuracy:",accuracy*100)
print(classification_report(Target_test,Target_pred))

accuracy: 96.66666666666667
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.89      0.94         9
           2       0.92      1.00      0.96        11

    accuracy                           0.97        30
   macro avg       0.97      0.96      0.97        30
weighted avg       0.97      0.97      0.97        30